:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .mrg-space{
        display: flex;
        justify-content: center;
    }
  }
.down-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button{
        flex: 1;
    }
}

ngb-typeahead-window {
    
    overflow-y: auto;
    overflow-x: hidden;
  }
  ::ng-deep .dropdown-menu.show { background:lightblue;
    position: static;
    display: flex;
    flex-direction: row;
    align-self: center;
    width: auto;
    height: auto;
  }
  ::ng-deep .dropdown-item
  {
    height: 100px;
  }
  ::ng-deep .cdk-overlay-pane{
    width: 95%;
  }
  ::ng-deep .ng-pristine{
    width: 95%;
  }
  ::ng-deep .ng-dirty{
    width: 95%;
  }
  ::ng-deep .mat-mdc-dialog-actions{
    justify-content: center;
  }

  ::ng-deep .mat-mdc-radio-group{
    justify-content: center;
  }
  @media(max-width: 500px)
  {
    :host {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
  }
  .example-chip-list {
    width: 95%;
  }